        <footer>
          <div class="read-txt">
            <div class="read-icon">
              <img src="./images/message.png"/>
            </div>
            <p>
              <a href="http://google.com" target="_self">
                Read Comments
              </a>
            </p>
          </div>
          <div class="read-txt">
            <div class="read-icon">
              <img src="./images/upload.png"/>
            </div>
            <p>
              <a href="http://google.com" target="_self">
                Read Later
              </a>
            </p>
          </div>
          <div class="share-txt">
            <div class="share-icon">
              <img src="./images/share.png"/>
            </div>
            <p>
              <a href="http://google.com" target="_self">
                Share This Post
              </a>
            </p>
          </div>
        </footer>