<div class="footer-details">
  <div class="footer-icon">
    <img src="./images/tiy.png"/>
    <p>
      The Ironyard Copyright 2013, All Rights Reserved
    </p>
  </div>

  <div class="footer-nav">
    <ul class="footer-nav-UL">
      <li>
        <a href="http://google.com" target="_self">
          Who
        </a>
      </li>
      <li>
        <a href="http://google.com" target="_self">
          What
        </a>
      </li>
      <li>
        <a href="http://google.com" target="_self">
          When
        </a>
      </li>
      <li>
        <a href="http://google.com" target="_self">
          Why
        </a>
      </li>
    </ul>
  </div>
</div>