<div class="sidebar">
    <div class="blogger-img"><div class="header-filter">
    </div>
    </div>
    <p class="blogger-name">
      <a href="http://google.com" target="_self">
        Tibby B. Studmuffin
      </a>
    </p>
    <div class="blogger-sm">
      <ul>
        <li>
          <a href="http://google.com" target="_self">
            Twitter
          </a>
        </li>
        <li>
          <a href="http://google.com" target="_self">
            Facebook
          </a>
        </li>
        <li>
          <a href="http://google.com" target="_self">
            Instagram
          </a>
        </li>
      </ul>
    </div>
    <div class="ad-img">
    <div class="header-filter">
    </div>
    </div>
    <div class="ad-txt">
      <a href="http://google.com" target="_self">
        Buy a MAC
      </a>
    </div>
    <div class="side-blog">
      <div class="sblog-title">
        <h2>
          <a href="file:///Users/Meesh/projects/4.1-sinatra/assignment/other-blog.html" target="_self">
          ARE YOU IN A PICKLE?
          </a>
        </h2>
      </div>
      <div class="sblog-txt">
        <p>
          Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.
        </p>
      </div>
    </div>
  </div>
</div>
