<div class="sub-footer">
  <div class="footer-title">
    MOST POPULAR POSTS
  </div>
</div>
<div class="footer-b">
  <a href="https://google.com" class="footer-blog">
    <div class="footer-blog-1">
      <div class="footer-filter">
        <p> 
          ARE YOU THERE?
        </p>
      </div>
    </div>
  </a>
  <a href="https://google.com" class="footer-blog">
    <div class="footer-blog-2">
      <div class="footer-filter">
        <p>
          WHERE ARE YOU GOING?
        </p>
      </div>
    </div>
  </a>
  <a href="https://google.com" class="footer-blog">
    <div class="footer-blog-3">
      <div class="footer-filter">
        <p>
          COME BAAAAAAACK!
        </p>
      </div>
    </div>
  </a>
  <a href="https://google.com" class="footer-blog">
    <div class="footer-blog-4">
      <div class="footer-filter">
        <p>
          OH HEY, WHAT'S UP.
        </p>
      </div>
    </div>
  </a>
</div>