<div class="blog">
  <div class="other">
    <div class="footer_title">MOST POPULAR POST</div>
    <div class="footer-blog-4"><a href="/">OH HEY, WHAT'S UP.</a></div>
    <div class="footer-blog-3"><a href="/blog_three">COME BAAAAAAACK!</a></div>
    <div class="footer-blog-2"><a href="/blog_two">WHERE ARE YOU GOING?</a></div>
    <div class="footer-blog-1"><a href="/blog_one">ARE YOU THERE?</a></div>
  </div>
</div>